body
{
  background: #ffffff;
}
/* Dictionary's name heading */
.gddictname
{
  border: 2px dotted black; padding: 0.2em; padding-left: 0.5em;
  margin-top: 1.2em; margin-bottom: 9px; font-weight: bold; font-size: 14px;
  background: #DDEBF7;
}

/* The article span. Here we have a padding/margin hack to make fragment links
   behave better (have some space before the start of article) */
.gdarticle
{
  background: #ffffff;
}

/*
.gddicttitle {
    visibility: hidden !important;
    position: relative;
}

.gddicttitle::after {
    content: "TTTT" !important;
    visibility: visible !important;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
}
*/

/* 只替换特定词典的名称 */

.gddictname[id="gddictname-3370e65d106541a751d759be6b71d0c1"] .gddicttitle {
    visibility: hidden !important;
    position: relative;
}

.gddictname[id="gddictname-3370e65d106541a751d759be6b71d0c1"] .gddicttitle::after {
    content: "oalecd9-mini" !important;
    visibility: visible !important;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
}

